<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
      
        <title>Contact</title>
       
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="normalize.min.css">
        <link rel="stylesheet" href="main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <table>
                    <tr>
                        <td>
                                <img src="pic1.jpg" alt="profile picture" class="img-circle" height="50" width="50"/>
                        </td>
                        <td>
                                <h1 class="title">Subodh Bhargav</h1>
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                        </td>
                        <td><a href="home">Home</a>
                            <a href="calc">Day calculator</a>
                            <a href="contact">Contact</a>
                            <a href="guestbook">Guestbook</a>
                        </td>
                    </tr>

                </table>                 
              
              
            </header>
          
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                    <header>
                            <h1>Contact us</h1>
                        </header>
                        
                        
                        
                        <form id="waterform" method="post">
                        
                        <div class="formgroup" id="name-form">
                            <label for="name">Your name*</label>
                            <input type="text" id="name" name="name" />
                        </div>
                        
                        <div class="formgroup" id="email-form">
                            <label for="email">Your e-mail*</label>
                            <input type="email" id="email" name="email" />
                        </div>
                        
                        <div class="formgroup" id="message-form">
                            <label for="message">Your message</label>
                            <textarea id="message" name="message"></textarea>
                        </div>
                        
                            <input type="submit" value="Send your message!" />
                        </form>
                        <br><br><br><br><br><br><br>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>&copy; Copyrights. All rights reserved.</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
