
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>


<link rel="stylesheet" href="normalize.min.css">
<link rel="stylesheet" href="main.css">


        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="container">
        <div class="header-container">
                <header class="wrapper clearfix">
                    <table>
                        <tr>
                            <td>
                                    <img src="pic1.jpg" alt="profile picture" class="img-circle" height="50" width="50"/>
                            </td>
                            <td>
                                    <h1 class="title">Subodh Bhargav</h1>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    
                            </td>
                            <td><a href="/">Home</a>
                                <a href="calc">Day calculator</a>
                                <a href="contact">Contact</a>
                                <a href="guestbook">Guestbook</a>
                            </td>
                        </tr>
    
                    </table>                 
                  
                  
                </header>
              
            </div>
            <div class="main-container">
                    <div class="main wrapper clearfix">
    
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</div> <!-- #main -->
</div> <!-- #main-container -->

